body {
  background: chartreuse;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: .3rem solid aquamarine;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: hotpink;
  transform: rotateX(180deg);
  text-shadow: #333 .15vw .15vw .15vw;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: none;
  color: darkorchid;
  font-size: 50px;
}

a:hover {
  text-decoration: underline;
  color: blueviolet;
}

<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
ul {
  background: black;
}

li {
  text-decoration-color: dodgerblue;
}

p {
  font-size: 7px;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
